{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="about">
    <a href="{{ asset('img/ash.webp') }}">
        <img src="{{ asset('img/ash.webp') }}" class="profImg" alt="Bild på Ash Ketchum">
    </a>
    <h1>Om mig</h1>
    
    <p>Hej! Jag heter Ash Ketchum. Jag är huvudpersonen i Pokémon-animefilmen från den ursprungliga serien till Pokémon Journeys: The Series. Jag är också huvudperson i olika manga som är baserade på anime-serien, bland annat The Electric Tale of Pikachu, Ash & Pikachu och Pocket Monsters Diamond & Pearl.</p>
    <p>Jag är en Pokémon-tränare från Pallet Town vars mål är att bli en Pokémon-mästare. Min start-Pokémon var en Pikachu som jag fick av professor Oak efter att ha kommit sent till hans laboratorium. På mina resor runt om i Pokémonvärlden har jag fått sällskap av en mängd nära vänner. I Pokémon the Series: Sun & Moon blir jag den första mästaren i Alola-regionens Pokémon League. I Pokémon Journeys: The Series blir jag den nya monarken i Pokémon World Coronation Series.</p>
    <p>Jag delar mitt japanska namn med skaparen av Pokémon-serien, Satoshi Tajiri. Mitt engelska efternamn är en ordlek på det engelska mottoet "Gotta catch 'em all!".</p>
</div>
{% endblock %}